<?xml version="1.0" encoding="UTF-8"?>
<!-- Run from Moodle root: vendor/bin/phpunit --configuration local/stackmatheditor/tests/phpunit.xml -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../../vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="local_stackmatheditor">
            <directory>unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
